* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* contenitori e layout */
body {
    width: 70%;
    margin: auto;
}

header {
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
}

.col {
    float: left;
    width: calc(100%/3);
    padding: 20px;
    padding-bottom: 0;
}

.card {
    width: 100%;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    float: left;
    color: white;
    line-height: 30px;
    padding-left: 10px;
}
/* fine contenitori e layout */

h1 {
    color: #e53170;
    margin-bottom: 40px;
}

main p:first-child {
    margin-bottom: 30px;
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

img {
    width: 100px;
    float: left;
}

.card a {
    text-decoration: none;
    color: #00a9f4;
}

.card::after {
    clear: both;
    content: '';
    display: table;
}

.col:nth-child(3n+0) {
    padding-left: 0;
}

.col:nth-child(1n+2) {
    padding-right: 0;
}